# Boston Housing Mini Project

![portada](images/boston.png)

# ¬øQu√© tienes que hacer?
- Explorar el dataset
- Buscar correlaci√≥n entre variables
- Hacer plots explicativos de tus hip√≥tesis
- Entender las variables
- Probar modelos de regresi√≥n con todas, algunas o una variable ... (seg√∫n consideres)
- Revisar las m√©tricas aprendidas en clase (R2 y R2ajustado)
- ¬°¬°Practicar lo que hemos visto en clase!!
- Sobre todo, disfrutar y subirte en el cohete üöÄüî•

# Librer√≠as

Recordad que lo primero es importar las librer√≠as

In [1]:
#importa aqu√≠ todo lo que necesites
import pandas as pd
from sklearn.datasets import load_boston

# Datitos

Os dejamos los datos cargados üè°

In [2]:
boston_dataset = load_boston()

In [3]:
boston = pd.DataFrame(boston_dataset.data, columns=boston_dataset.feature_names)
boston.head()

,CRIM,ZN,INDUS,CHAS,NOX,RM,AGE,DIS,RAD,TAX,PTRATIO,B,LSTAT
0,0.00632,18.0,2.31,0.0,0.538,6.575,65.2,4.0900,1.0,296.0,15.3,396.90,4.98
1,0.02731,0.0,7.07,0.0,0.469,6.421,78.9,4.9671,2.0,242.0,17.8,396.90,9.14
2,0.02729,0.0,7.07,0.0,0.469,7.185,61.1,4.9671,2.0,242.0,17.8,392.83,4.03
3,0.03237,0.0,2.18,0.0,0.458,6.998,45.8,6.0622,3.0,222.0,18.7,394.63,2.94
4,0.06905,0.0,2.18,0.0,0.458,7.147,54.2,6.0622,3.0,222.0,18.7,396.90,5.33

In [4]:
boston['MEDV'] = boston_dataset.target

In [5]:
boston.head()

,CRIM,ZN,INDUS,CHAS,NOX,RM,AGE,DIS,RAD,TAX,PTRATIO,B,LSTAT,MEDV
0,0.00632,18.0,2.31,0.0,0.538,6.575,65.2,4.0900,1.0,296.0,15.3,396.90,4.98,24.0
1,0.02731,0.0,7.07,0.0,0.469,6.421,78.9,4.9671,2.0,242.0,17.8,396.90,9.14,21.6
2,0.02729,0.0,7.07,0.0,0.469,7.185,61.1,4.9671,2.0,242.0,17.8,392.83,4.03,34.7
3,0.03237,0.0,2.18,0.0,0.458,6.998,45.8,6.0622,3.0,222.0,18.7,394.63,2.94,33.4
4,0.06905,0.0,2.18,0.0,0.458,7.147,54.2,6.0622,3.0,222.0,18.7,396.90,5.33,36.2

## Exploraci√≥n del dataset